 <!-- header section strats -->
 <div class="top_nav">
    <div class="container">
      <div class="contact_link-container">
        
        <a  class="contact_link1">
          <!-- <img src="../../assets/images/location.png" alt="" /> -->
          <i class="fa fa-map-marker" style="font-size:36px;color: rgb(82, 101, 140);" ></i>
          &nbsp;&nbsp;&nbsp;   <span style="color: rgb(0, 0, 0);" >
            Gat No. 757, Village Velu, Pune-Bangalore Highway,
            Tal. Bhor, Dist. Pune, Velu – 412 205 Maharashtra, INDIA
          </span>
        </a>
        <a  class="contact_link2">
          <i class="fa fa-phone" style="font-size:36px;color: rgb(82, 101, 140);"></i>
          <!-- <img src="../../assets/images/call.png" alt="" /> -->
          &nbsp;&nbsp;&nbsp; <span style="color: rgb(0, 0, 0);" >
            
          +91 2113 299098  +91 9028128000  +91 90281 82444
          </span>
        </a>
        <a class="contact_link3">
          <!-- <img src="../../assets/images/mail.png" target="_blank" alt="" /> -->
          <i class='fa fa-envelope' style='font-size:36px;color: rgb(82, 101, 140);'></i>
          &nbsp;&nbsp;&nbsp;<span style="color: rgb(0, 0, 0);" >
             {{ "info@tsepl.co.in"}}
          </span>
        </a>
        
      </div>
    </div>
  </div>
  <header class="header_section">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg custom_nav-container">
        <a class="navbar-brand" href="home" >
          <img class="" src="../../assets/tseplimg/Truestar Logo Final File.png" alt="" style="height: 50px; width: auto;" />
       
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
          <ul class="navbar-nav  ">
            <li class="nav-item ">
              <a class="nav-link " href="home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="aboutus"> Company</a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link" href="product"> Products </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="career"> Careers </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contactus">Contact us</a>
            </li>
          </ul>
          <!-- <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
            <input type="search" placeholder="Search" />
            <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
          </form> -->
        </div>
      </nav>
    </div>
  </header>
  <!-- end header section -->  

          