<body class="sub_page">
    <div class="hero_area">
        <!-- header section strats -->
        <app-header></app-header>


        <!-- end header section -->
    </div>

    <section class="contact_section layout_padding"> 
        <div class="container">
            <div class="heading_container">
                <h2>
                    Get In touch
                </h2>

            </div>
            <h5>TRIMURTI STAINLINK EQUIPMENT PVT.LTD.
            </h5>
            <div class="">
                <div class="row">
                    <div class="col-md-6 ">
                        <form action="">
                            <div class="contact_form-container">
                                <div>
                                   
                                    <p>     Trimurti Stainlink Equipments Pvt. Ltd.</p>
                                    <p> <img src="../../assets/images/location.png" style="height: 15px;width: auto;" alt="" />&nbsp;&nbsp; Gat No 757, Village Velu, Pune-Bangalore Highway,Tal. Bhor, Dist. Pune 412 205, Maharashtra, INDIA</p>
                                    <p><img src="../../assets/imgg/email_icon.png" alt="" style="height: 15px;width: auto;"/>&nbsp;&nbsp;  Email – <a href="mailto:marketing@tsepl.co.in">{{"marketing@tsepl.co.in"}}</a></p>
                                    <p> <img src="../../assets/imgg/tel_icon.png" alt="" style="height: 15px;width: auto;"/>&nbsp;&nbsp; Phone – Landline- 02113-299098, 90281 28000, 90281 82444</p>
                                    <p> <img src="../../assets/images/call.png" alt="" style="height: 15px;width: auto;"/>&nbsp;&nbsp; Mobile – +9188059 80984, +9188058 80986, +9188059 80981</p>
                                </div>
                                <div class="img-box" style="text-align: center;">
                                    <br>
                                    <a href="https://goo.gl/maps/DGkHCyfLEiiJeN4A9"><img src="../../assets/images/map.png" style="height: 150px;width: auto;" alt=""></a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6 ">
                        <form action="">
                            <div class="contact_form-container">
                                <div>
                                    <div>
                                        <input type="text" placeholder="Full Name" />
                                    </div>
                                    <div>
                                        <input type="email" placeholder="Email " />
                                    </div>
                                    <div>
                                        <input type="text" placeholder="Phone Number" />
                                    </div>
                                    <div class="">
                                        <input type="text" placeholder="Message" class="message_input" />
                                    </div>
                                    <div class=" ">
                                        <button type="submit">
                                            Send
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- <div class="col-md-6">
                        <div class="img-box">
                            <img src="images/map.png" alt="">
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </section>

    <!-- end contact section -->
    <app-footer></app-footer>
    <br>