
<div class="logincard logincard-container" style="max-width: 410px;margin-top: 100px; height: 400px;">
    <img id="profile-img" class="profile-img-card" src="assets/images/InnovoCareLogo.png" />

    <p id="profile-name" class="profile-name-card"></p>
    <form class="form-signin" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div class="form-group row">
      
            <input type="text" class="form-control" name="username" placeholder="Username" [(ngModel)]="model.username"
                #username="ngModel" required autofocus />
            <div *ngIf="f.submitted && !username.valid" class="help-block" style="padding-top: 10px">Username is
                required</div>
        </div>
        <div class="form-group row">
            <input type="password" class="form-control" name="password" placeholder="Password"
                [(ngModel)]="model.password" #password="ngModel" required />
            <div *ngIf="f.submitted && !password.valid" class="help-block" style="padding-top: 10px">Password is
                required</div>
        </div>
        <div class="form-group row">
            <!-- <alert-outlet></alert-outlet> -->
        </div>

        <div class="row">
            <div class="col-sm-12" style="text-align: center;">
                <button [disabled]="loading" id="sign" class="btn btn-default btn_main loginOk" type="submit">Sign
                    in</button>
                <img *ngIf="loading"
                    src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </div>
        </div>

    </form>
    
</div>