<div class="hero_area">
    <app-header></app-header>

    <section class="contact_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>Our Products</h2>
                
            </div>
            <!-- <div class="product_container"> -->
            <div class="heading_container mt-3">
                <h2>
                    Enclosures
                   
                </h2>

            </div>
           
           
            <!-- <ul > -->
                <li><b>1) Empty Enclosures</b></li>

                <style>
                    table,
                    td {
                        border: solid 1px;
                        background-color: #f3efef;
                    }th{
                        background-color:rgb(107, 128, 155);
                        color: white;
                    }
                    li {
                list-style-type: none;
              }
              img{
                padding: 10px
              }
                </style>

                <table>
                    <thead>
                        <th colspan="2"> C S6 A 400X500X160 - Empty enclosure</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="../../assets/imgg/epmtyencloser.jpg" style="width: auto;height: 130px;"></td>
                            <td>
                                <p>Empty enclosure, material: Stainless steel, 316L/1.4404, surface resistance: brushed,
                                    silver,
                                    400 mm x 500 mm x 160 mm, type of locking: Door with replaceable hinge, scope of
                                    supply -
                                    ATD: Door hinge with quarter turn locking, Mounting panel, Double-bit key, Fixing
                                    angle with
                                    mounting screws, M12 grounding bolts, affixed externally, Installation notes, Door
                                    hinge
                                    with quarter turn locking</p>
                            </td>
                        </tr>
                    </tbody>
                </table>





                <li><b>2) Complete Hazardous Area Solutions</b></li>
                <table>
                    <thead>
                        <th colspan="2">1) Junction Boxes</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="../../assets/imgg/Junction Boxes.jpeg" style="width: auto;height: 130px;">
                            </td>
                            <td>
                                <p>An instrument junction box is an enclosure housing terminals that allows
                                    interconnection between field devices (i.e. instruments, switches etc) in the
                                    process/production areas, and control or monitoring equipment typically located in
                                    the control room.</p>
                            </td>
                        </tr>
                    </tbody>
                    <thead>
                        <th colspan="2">2) Control Stations</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="../../assets/imgg/Control Stations.jpg" style="width: auto;height: 130px;">
                            </td>
                            <td>
                                <p>A comprehensive range of component approved increased safety Zone 1 and 2 Ex ‘e’
                                    enclosures to suit varied power, control and instrumentation applications, suitable
                                    for a wide range of client projects in gas & dust hazard environments. Available
                                    from our extensive UK, components are stock ready to be engineered to specification
                                    for cable entry, through-door operators and indication. Variants are available with
                                    hinged doors, removable gland plates and security door furniture.</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <li><b>3) Modular Enclosures (Upcoming)</b></li>


                <table>
                    <thead>
                        <th colspan="2"> 50kA Tested Modular Enclosures</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="../../assets/imgg/Modular Enclosures (Upcoming).jpg"
                                    style="width: auto;height: 110px;"></td>
                            <td>
                                <p>50kA Tested Modular Enclosures. Available in knock-down kits, ready for assembly &
                                    wiring.

                                    With mödulo™ - Modular Enclosures you have design flexbility & production efficiency
                                    at your finger-tips.The enclosures are available ex-stock, helping you reduce dead
                                    inventory</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <li><b>4) Flameproof Enclosures (Upcoming)</b></li>
                <table>
                    <thead>
                        <th colspan="2"> Flameproof Enclosure Close Door, Ip 66</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="../../assets/imgg/epmtyencloser.jpg" style="width: auto;height: 130px;"></td>
                            <td>
                                <p> We Serve Safety with Awareness of Electrical Safety Provided & meet all Requirement
                                    to Reduce Electrical Accident. In that Manner Our Team Regularly Develops Complete
                                    Mach to Flame & Explosion Standard as per CMFRI, BIS, PESO & European ATEX, IS IEC
                                    Standard. We Manufacture World largest Flameproof & Explosion Proof Enclosure, All
                                    Type & ranges of flameproof enclosures, Flameproof Light fittings, Flameproof Cable
                                    Glands, Flameproof Switchgear, Flameproof Control Gears, Flameproof Junction Boxes,
                                    Flameproof Industrial Fans, Flameproof Instrument Boxes, Flameproof VFD & PLC panels
                                    and other accessories.</p>
                            </td>
                        </tr>
                    </tbody>
                </table>


            <!-- </ul> -->

            <div class="heading_container mt-3">
                <h2>
                    Process Equipments
                </h2>

            </div>
            <!-- <ol type="1"> -->
                <li><b>Tanks</b></li>
                <table>
                    <thead>
                        <th colspan="2">1) storage tanks</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="../../assets/imgg/Storage-Tank.jpg" style="width: auto;height: 115px;"></td>
                            <td>
                                <p>We provide full customization on our storage tanks as per the specifications and
                                    requirements of the client. All the raw materials are used depending on usage of the
                                    tank and also as per client’s input. These tanks are corrosion resistant and easily
                                    withstand various temperature fluctuations and variations. These tanks have a wide
                                    demand in various processing industries because of them being highly qualitative at
                                    cost effective prices.</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <li><b>2) Skids</b></li>
                <table>
                    <thead>
                        <th colspan="2">modular process skid</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="../../assets/imgg/Skids.jpg" style="width: auto;height: 130px;"></td>
                            <td>
                                <p> A modular process skid is a process system contained within a frame that allows the
                                    process system to be easily transported (skid mount). Individual skids can contain
                                    complete process systems and multiple process skids can be combined to create larger
                                    process systems or entire portable plants.</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <li><b>3) Accessories</b></li>
                <table>
                    <thead>
                        <th colspan="2"> AUTOCLAVES
                        </th>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="../../assets/imgg/Autoclaves.png" style="width: auto;height: 130px;"></td>
                            <td>
                                <p>Various scientific operations in laboratories require hygiene, disinfection and
                                    sterilisation of glassware and instruments. Very large in size and highly
                                    specialised autoclaves have been used for this specific task in industrial
                                    laboratories. Other than dairy operations, food processing units, wineries
                                    autoclaves also play major role in rubber industry for vulcanisation of rubber i.e.
                                    thermoplastic process, or making something mouldable by applying heat at specific
                                    temperature and pressurised environment.</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            <!-- </ol> -->

            <div class="heading_container mt-3">
                <h2>
                    Customised Products
                </h2>
            </div>
            <!-- <ol type="1"> -->
                <li><b>1) Vande Bharat Cabinets</b></li>

                <table>
                    <thead>
                        <th colspan="2"> Cabinets</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="../../assets/imgg/vandebharat.jpeg" style="width: auto;height: 75px;"></td>
                            <td>
                                <p> The Indian government’s ambitious programme of manufacturing 400 new Vande Bharat
                                    trains, announced in the Union Budget, is set to change the way people travel in the
                                    country. These modern train coaches will provide a new level of safety and comfort
                                    with enhanced speed. However, the recent tenders floated by the Indian railways for
                                    these trainsets have considered aluminium as the material of choice instead of
                                    stainless steel. It is presumed that aluminium coaches may reduce the weight of the
                                    coaches and save propulsion energy. However, when other prominent parameters are
                                    weighed, stainless steel emerges as the best fit to this project, and to the
                                    government’s vision for the Railways. Here’s why- stainless steel</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <li><b>2) Locomotive Traction Panel</b></li>
                <table>
                    <thead>
                        <th colspan="2"> Traction Panel</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="../../assets/imgg/Locomotive Traction Panel.jpg"
                                    style="width: auto;height: 115px;"></td>
                            <td>
                                <p> Loco Panels are used to control various function of Locomotives. These panels are
                                    used for controlling and protection of VCB, traction converter, auxiliary converter
                                    and other related accessories inside locomotive.
                                    Coach Panels are used to control all the power / control switchgear in a coach. This
                                    includes lighting, air conditioning, hotel load, pump control, sanitary system and
                                    public address system etc.</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <li><b>3) Cycle Wash Machine Body</b></li>
                <li><b>4) EV RTM Battery Panels</b></li>
                <table>
                    <thead>
                        <th colspan="2"> 	 Battery Panels Floor-Mount</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="../../assets/imgg/steel-battery-enclosure.jpg" style="width: auto;height: 100px;"></td>
                            <td>
                                <p> Established as a Prprietor Firm in the Year 2022, We''Padmalekha Design And Manufacturing Centre'' are a leading Manufacturer of a wide range of sheetmetal products along with design support</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <li><b>5) Others</b></li>
            <!-- </ol> -->


            
            <!-- <table>
                <thead>
                    <th colspan="2"> Flameproof Enclosure Close Door, Ip 66</th>
                </thead>
                <tbody>
                    <tr>
                        <td><img src="../../assets/imgg/epmtyencloser.jpg" style="width: auto;height: 130px;"></td>
                        <td>
                            <p> We Serve Safety with Awareness of Electrical Safety Provided & meet all Requirement
                                to Reduce Electrical Accident. In that Manner Our Team Regularly Develops Complete
                                Mach to Flame & Explosion Standard as per CMFRI, BIS, PESO & European ATEX, IS IEC
                                Standard. We Manufacture World largest Flameproof & Explosion Proof Enclosure, All
                                Type & ranges of flameproof enclosures, Flameproof Light fittings, Flameproof Cable
                                Glands, Flameproof Switchgear, Flameproof Control Gears, Flameproof Junction Boxes,
                                Flameproof Industrial Fans, Flameproof Instrument Boxes, Flameproof VFD & PLC panels
                                and other accessories.</p>
                        </td>
                    </tr>
                </tbody>
            </table> -->

        </div>
    </section>
</div>