
<!-- <body> -->
  
  <div class="hero_area">
    <app-header></app-header>
    <!-- slider section -->
    <section class=" slider_section ">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col-md-7">
                  <div class="detail-box">
                    <h1>
                     Dairy
                      <br />
                      <span>
                        Industry
                      </span>
                    </h1>
                    <p>
                      Setup as Trimurti Engineering for  custom built stainless steel job work.
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn-1"> Read more1 </a>
                      <a href="" class="btn-2">Get A Quote</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="img-box">
                    <img src="../../assets/imgg/tank-1.jpg" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container">
              <div class="row">
                <div class="col-md-7">
                  <div class="detail-box">
                    <h1>
                      Food <br />
                      <span>
                        Industry
                      </span>
                    </h1>
                    <p>
                      Though it may not be inherently antimicrobial, stainless steel, particularly 304 or 316 stainless steel, is one of the best materials to use in a food and beverage processing environment. It's easily cleaned and highly durable, able to withstand harsh, caustic chemicals and extreme temperatures without damage.
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn-1"> Read more2 </a>
                      <a href="" class="btn-2">Get A Quote</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="img-box">
                    <img src="../../assets/imgg/foodimg.jpeg" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container">
              <div class="row">
                <div class="col-md-7">
                  <div class="detail-box">
                    <h1>
                      pharmaceuticals & chemicals
                      <br />
                      <span>
                        Industry
                      </span>
                    </h1>
                    <p>
                      Stainless steel is a highly versatile material with many advantages for pharmaceutical manufacturers and researchers. It is durable, corrosion-resistant and non-toxic, making it ideal across nearly all steps in bringing a drug from the laboratory to the pharmacy shelf
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn-1"> Read more3 </a>
                      <a href="" class="btn-2">Get A Quote</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="img-box">
                    <img src="../../assets/imgg/pharma.jpg" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>




          <div class="carousel-item ">
            <div class="container">
              <div class="row">
                <div class="col-md-7">
                  <div class="detail-box">
                    <h1>
                      Oil & Gas
                      <br />
                      <span>
                        Industry
                      </span>
                    </h1>
                    <p>
                      Here are some of the applications of stainless steel in the oil and gas industry: Piping: Due to the Seamless stainless steel tube's high-temperature resistance and corrosion resistance, it is used in pipelines for oil, heat exchangers, offshore rigs, oil platforms, etc.                    </p>
                    <div class="btn-box">
                      <a href="" class="btn-1"> Read more3 </a>
                      <a href="" class="btn-2">Get A Quote</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="img-box">
                    <img src="../../assets/imgg/oil and gas.jpeg" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="carousel-item ">
            <div class="container">
              <div class="row">
                <div class="col-md-7">
                  <div class="detail-box">
                    <h1>
                      Railways
                      <br />
                      <span>
                        Transport
                      </span>
                    </h1>
                    <p>
                      Stainless steel is a preferred material for railway applications worldwide on account of its longer life, higher strength-to-weight ratio, aesthetic appearance, and corrosion resistance. Its durability and minimal maintenance and no requirement for external protective painting make it an economical choice.                    </p>
                    <div class="btn-box">
                      <a href="" class="btn-1"> Read more3 </a>
                      <a href="" class="btn-2">Get A Quote</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="img-box">
                    <img src="../../assets/imgg/railways.jpg" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item ">
            <div class="container">
              <div class="row">
                <div class="col-md-7">
                  <div class="detail-box">
                    <h1>
                      Packaging
                        <br />
                      <span>
                        Industry
                      </span>
                    </h1>
                    <p>
                      Stainless steel is costly as compared to aluminium and tin therefore it is mainly used for returnable containers in food packaging . However, for large storage or transport containers, stainless steel is the leading material.                    </p>
                    <div class="btn-box">
                      <a href="" class="btn-1"> Read more3 </a>
                      <a href="" class="btn-2">Get A Quote</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="img-box">
                    <img src="../../assets/tseplimg/Old Factory Image 2.jpg" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="container idicator_container">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
        </div>
      </div>
    </section>
    <!-- end slider section -->
 
<app-footer></app-footer>
<br>